/* Reset style dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #B00005;
    --second-color: #C83701;
    --color3: #efe8e0;
}
body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    background-color: var(--color3);
    color: #333;
}
.container {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}
/* Bagian Judul */
header {
    margin-bottom: 30px;
}
header h1 {
    color: var(--main-color);
    font-size: 2.5rem;
}
header p {
    font-size: 1rem;
    color: var(--second-color);
}
header button {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 20px;
    left: 40px;
    background: var(--main-color);
    padding: 6px;
    outline: none;
    border: 1px solid var(--color3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
}

header button a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

header button i {
    font-size: 30px;
    color: var(--color3);
}

/* Kartu Resep */
.card-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 1rem;
    margin: 4rem 0;
    justify-content: center;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 270px;
    text-align: center;
    transition: transform 0.3s ease;
    padding-bottom: 10px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h5 {
    font-size: 1rem;
    color: #333;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    padding: 10px;
    color: #000000;
    margin-top: 10px;
    border-top: 1px solid var(--main-color);
}
.time {
    color: var(--second-color);
    margin-bottom: 5px;
}
.view {
    padding: 0.4rem 1.5rem;
    color: var(--main-color);
    outline: none;
    border: 1px solid var(--main-color);
    border-radius: 4rem;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 15px;
}  
.view:hover {
    color: #fff;
    background-color: var(--main-color);
}
